body {
  
	font-size: .875rem;


}



.feather {
  
	width: 16px;
  height: 16px;
  vertical-align: text-bottom;


}


	/*
 * Sidebar
 */



.sidebar {
  
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
	 /* Behind the navbar */
  
	padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}


.sidebar-sticky {
  
	position: -webkit-sticky;
  position: sticky;
  top: 48px; 
	/* Height of navbar */
  
	height: calc(100vh - 48px);
  
	padding-top: .5rem;
  
	overflow-x: hidden;
  
	overflow-y: auto; 
	/* Scrollable contents if viewport is shorter than content. */
	
}


.sidebar .nav-link {
  
	font-weight: 500;
  color: rgba(51, 51, 51, 0);

}



.sidebar .nav-link .feather {
  
	margin-right: 4px;
  color: #1100ff;

}


.sidebar .nav-link.active {
 
	 color: #1100ff;

}


.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
 
 	color: #1100ff ;

}


.sidebar-heading {
  
	font-size: .75rem;
  text-transform: uppercase;

}

	
/*
 * Navbar
 */


.navbar-brand {
  
	padding-top: .75rem;
  
	padding-bottom: .75rem;
  
	font-size: 1rem;
  
	background-color: rgba(54, 12, 243, 0.164);
  
	box-shadow: inset -1px 0 0 rgba(83, 7, 206, 0.89);

}	


.navbar .form-control {
  
	padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;

}	


.form-control-dark {
  
	color: #fff;
 
	 background-color: rgba(255, 255, 255, .1);
  
	border-color: rgba(255, 255, 255, .1);

}


.form-control-dark:focus {
  
	border-color: transparent;
  
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);

}


.border-top { 
	border-top: 1px solid #e5e5e5; 
}

.border-bottom { 
	border-bottom: 1px solid #e5e5e5; 
}


nav a img {
  	
	border-radius: 50%;

}	


main {
 
	 background-image: url('./utility/images/');
  background-repeat: no-repeat;
  background-size: cover;
}
